<app-single-navbar />

<!-- Hero Start -->
<app-home-banner/>
<!-- Hero End -->

  <!-- Features Start -->
  <section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 order-1 order-md-2">
                <div class="features-absolute">
                    <app-make-donation/>
                    
                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-md-6 order-2 order-md-1">
                <app-about-one/>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

 <!-- Start -->
 <section class="section bg-light" id="causes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Popular Causes</h4>
                    <p class="text-muted para-desc mx-auto mb-0">The Smilecare is a non profit organisation that strives to eliminate hunger by implementing the Mid Day Meal Programme.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <app-causes/>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<app-cta/>

   <!-- Start -->
   <section class="section" id="priorities">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">We Have Funded <span class="text-primary">150 Charity Projects</span> for <br> 10M People Around The World.</h4>
                    <p class="text-muted para-desc mx-auto mb-0">The Smilecare is a non profit organisation that strives to eliminate hunger by implementing the Mid Day Meal Programme.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <app-healthcare/>

    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<!-- Start -->
<section class="section bg-light" id="volunteers">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Our Volunteers</h4>
                    <p class="text-muted para-desc mx-auto mb-0">The Smilecare is a non profit organisation that strives to eliminate hunger by implementing the Mid Day Meal Programme.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <app-team/>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->

<section class="section" id="blogs">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title mb-3">Our events</h4>
                    <p class="text-muted para-desc mx-auto mb-0">The Smilecare is a non profit organisation that strives to eliminate hunger by implementing the Mid Day Meal Programme.</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <app-blog/>

    </div><!--end container-->
</section><!--end section-->
<!-- End blog -->

<app-footer/>

<app-scroll-to-top/>