<app-navbar></app-navbar>

<section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card shadow rounded border-0">
            <div class="card-body p-4">
              <h3 class="mb-4">Support Refugees Discussion </h3>
              
              <div *ngFor="let request of listRequestes" class="forum-thread mb-4" [routerLink]="'/forums/support-refugees'">
                <h4 class="mb-3">{{request.content}}</h4>
                <div class="thread-content p-3 bg-light rounded">
                  <p class="mb-0">{{request.object}}</p>
                </div>
              
                
              
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
