<div class="p-4 rounded shadow position-relative bg-white">
    <div class="section-title">
        <h4 class="title mb-3">Make a Donation</h4>
        <p class="mb-0 text-muted">Your $40.00 monthly donation can give 12 people clean water every year. 100% funds water projects.</p>
    </div>

    <form class="mt-4">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label fw-semibold" for="name">Your Name : </label>
                    <input name="name" id="name" type="text" class="form-control" placeholder="Your Name :">
                </div>
            </div><!--end col-->                               

            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label class="form-label fw-semibold" for="email"> Your Mail : </label>
                    <input name="email" id="email" type="email" class="form-control" placeholder="Your Mail :">
                </div> 
            </div><!--end col-->  

            <div class="col-md-6 col-12">
                <div class="mb-3">
                    <label class="form-label fw-semibold" for="number2">Phone No. : </label>
                    <input name="number" type="number" class="form-control" id="number2" placeholder="Phone :">
                </div> 
            </div><!--end col--> 

            <div class="col-12">
                <div class="mb-3">
                    <label class="form-label fw-semibold">I Want to Donate for</label>
                    <select class="form-select form-control" name="item_name">
                        <option value="Donate For Food">Donate For Food</option>
                        <option value="Food For Orphan">Food For Orphan</option>
                        <option value="Home For Homeless">Home For Homeless</option>
                        <option value="Holyday Gifts In Kind">Holyday Gifts In Kind</option>
                        <option value="For clean Water in Africa">For clean Water in Africa</option>
                        <option value="Health and Rights">Health and Rights</option>
                    </select>
                </div>
            </div><!--end col-->

            <div class="col-12">
                <label class="form-label fw-semibold">How much do you want to donate ?</label>
                <div class="mb-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="number" class="form-control" min="1" max="1000" placeholder="Enter Amount" id="amount" aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>
            </div><!--end col-->                                                                          

            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">I agree to the <a href="javascript:void(0)" class="text-primary">Terms and Conditions</a>.</label>
                </div>
            </div><!--end col-->                                    

            <div class="col-12 mt-3">
                <button type="submit" id="donatefund" name="send" class="btn btn-primary">Donate Us</button>
            </div><!--end col-->
        </div><!--end row-->
    </form>
</div>