//
// _features.scss
//

/*********************************/
/*         Features              */
/*===============================*/
.features {
    .title {
        transition: all 0.5s ease;
        &:hover {
            color: $primary !important;
        }
    }
    .feature-icon {
        width: 60px;
        height: 60px;
    }

    &.no-hover-effect {
        &:hover {
            transform: scale(1) !important;
            background: transparent !important;
        }
    }
}

#countdown  .count-down .count-number,
.features .feature-icon {
    border-radius: 50px 35px 20px;
}