<app-page-title title="Blog" subTitle="Blog Create" />

<div class="row">
  <div class="col-xl-3 col-lg-4">
    <blog-card />
  </div>
  <div class="col-xl-9 col-lg-8">
    <div class="card">
      <!-- <div class="card-header">
                 <h4 class="card-title">Add Property Photo</h4>
            </div> -->
      <div class="card-body">
        <FileUploader />
      </div>
    </div>

    <blog-info />

    <blog-user-info />

    <div class="mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-2">
          <a href="javascript: void(0);" class="btn btn-outline-primary w-100"
            >Create Blog</a
          >
        </div>
        <div class="col-lg-2">
          <a href="javascript: void(0);" class="btn btn-danger w-100">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
