<header id="topnav" class="defaultscroll sticky" [ngClass]="scroll ? 'nav-sticky' : ''">
    <div class="container">
        <a class="logo" [routerLink]="'/'">
            <span class="logo-light-mode">
                <img src="assets/images/logo-dark.png" class="l-dark" alt="">
                <img src="assets/images/logo-white.png" class="l-light" alt="">
            </span>
            <img src="assets/images/logo-white.png" class="logo-dark-mode" alt="">
        </a>

        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" [ngClass]="toggle ? 'open' : ''" id="isToggle" (click)="toggleMenu($event)">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>

        <app-nav-setting/>

        <div id="navigation" [ngClass]="toggle ? 'd-block' : 'd-none' ">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-right nav-light">
                <li class="has-submenu parent-menu-item" [ngClass]="['/home-item','/'].includes(menu) ? 'active' : ''">
                    <a [routerLink]="'/index'" (click)="setmanu('/home-item', $event)">Home</a>
                </li>
                

                
                <li [ngClass]="menu === '/services' ? 'active' : ''"><a [routerLink]="'/services'" class="sub-menu-item"> Healthcare Services</a></li>
        
                <li class="has-submenu parent-parent-menu-item" [ngClass]="['/page-item','/service-detail','/forums','/team','/testimonial','/faqs','/blog-item','/blogs','/blog-sidebar','/blog-detail','/auth-item','/login','/signup','/reset-password','/lock-screen','/terms-item','/terms','/privacy','/special-item','/comingsoon','/maintenance','/error'].includes(menu) ? 'active' : ''">
                    <a [routerLink]="'#'" (click)="setmanu('/page-item', $event)">Pages</a><span class="menu-arrow"></span>
                    <ul class="submenu" [ngClass]="['/page-item','/service-detail','/forums','/team','/testimonial','/faqs','/blog-item','/blogs','/blog-sidebar','/blog-detail','/auth-item','/login','/signup','/reset-password','/lock-screen','/terms-item','/terms','/privacy','/special-item','/comingsoon','/maintenance','/error'].includes(menu) ? 'open' : ''">
                        <li [ngClass]="menu === '/service-detail' ? 'active' : ''"><a [routerLink]="'/service-detail'" class="sub-menu-item">Service Detail</a></li>
                        <li [ngClass]="menu === '/forums' ? 'active' : ''"><a [routerLink]="'/forums'" class="sub-menu-item">Forums</a></li>
                        <li [ngClass]="menu === '/team' ? 'active' : ''"><a [routerLink]="'/team'" class="sub-menu-item">Team</a></li>
                        <li [ngClass]="menu === '/testimonial' ? 'active' : ''"><a [routerLink]="'/testimonial'" class="sub-menu-item">Testimonial</a></li>
                        <li [ngClass]="menu === '/blog-detail' ? 'active' : ''"><a [routerLink]="'/blog-sidebar'" class="sub-menu-item"> Events</a></li>
                        <li [ngClass]="menu === '/animals' ? 'active' : ''"><a [routerLink]="'/animals'" class="sub-menu-item"> Animals</a></li>
                        <li [ngClass]="menu === '/demandes' ? 'active' : ''"><a [routerLink]="'/demandes'" class="sub-menu-item"> Adoption Resquests</a></li>
                      <!--  <li [ngClass]="menu === '/demandes' ? 'active' : ''"><a [routerLink]="'/interesse'" class="sub-menu-item"> Interessted Events</a></li> -->

                        <li [ngClass]="menu === '/posts' ? 'active' : ''"><a [routerLink]="'/posts'" class="sub-menu-item">Posts</a></li>
                        
                        <li [ngClass]="menu === '/trainig' ? 'active' : ''"><a [routerLink]="'/trainig'" class="sub-menu-item">Training </a></li>

                        <li [ngClass]="menu === '/faqs' ? 'active' : ''"><a [routerLink]="'/faqs'" class="sub-menu-item">FAQs</a></li>
<!--
                        <li class="has-submenu parent-menu-item" [ngClass]="['/blog-item','/blogs','/blog-sidebar','/blog-detail'].includes(menu) ? 'active' : ''"><a [routerLink]="'#'" (click)="setmanu('/blog-item', $event)"> Blog </a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['/blog-item','/blogs','/blog-sidebar','/blog-detail'].includes(menu) ? 'open' : ''">
                                <li [ngClass]="menu === '/blogs' ? 'active' : ''"><a [routerLink]="'/blogs'" class="sub-menu-item"> Events</a></li>
                                <li [ngClass]="menu === '/blog-sidebar' ? 'active' : ''"><a [routerLink]="'/blog-sidebar'" class="sub-menu-item"> Event Sidebar</a></li>
                                <li [ngClass]="menu === '/blog-detail' ? 'active' : ''"><a [routerLink]="'/blog-detail'" class="sub-menu-item"> Post</a></li>
                            </ul> 
                        </li>
-->
                        

                        <li class="has-submenu parent-menu-item" [ngClass]="['/terms-item','/terms','/privacy'].includes(menu) ? 'active' : ''"><a [routerLink]="'#'" (click)="setmanu('/terms-item', $event)"> Utility </a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['/terms-item','/terms','/privacy'].includes(menu) ? 'open' : ''">
                                <li [ngClass]="menu === '/terms' ? 'active' : ''"><a [routerLink]="'/terms'" class="sub-menu-item">Terms of Services</a></li>
                                <li [ngClass]="menu === '/privacy' ? 'active' : ''"><a [routerLink]="'/privacy'" class="sub-menu-item">Privacy Policy</a></li>
                            </ul>  
                        </li>
<!--
                        <li class="has-submenu parent-menu-item" [ngClass]="['/special-item','/comingsoon','/maintenance','/error'].includes(menu) ? 'active' : ''"><a [routerLink]="'#'" (click)="setmanu('/special-item', $event)"> Special </a><span class="submenu-arrow"></span>
                            <ul class="submenu" [ngClass]="['/special-item','/comingsoon','/maintenance','/error'].includes(menu) ? 'open' : ''">
                                <li [ngClass]="menu === '/comingsoon' ? 'active' : ''"><a [routerLink]="'/comingsoon'" class="sub-menu-item"> Coming Soon</a></li>
                                <li [ngClass]="menu === '/maintenance' ? 'active' : ''"><a [routerLink]="'/maintenance'" class="sub-menu-item"> Maintenance</a></li>
                                <li [ngClass]="menu === '/error' ? 'active' : ''"><a [routerLink]="'/error'" class="sub-menu-item"> 404! Error</a></li>
                            </ul> 
                        </li>
-->
                        

                        

                        
                    </ul>
                </li>
        
                <li [ngClass]="menu === '/contactus' ? 'active' : ''"><a [routerLink]="'/contactus'" class="sub-menu-item">Contact Us</a></li>
                <li [ngClass]="menu === '/logout' ? 'active' : ''"><a role="button" (click)="logout()" class="sub-menu-item">Logout</a></li>

            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div>
</header>
