<ul class="buy-button list-inline mb-0">
    <li class="list-inline-item mb-0">
        <div class="dropdown">
            <button type="button" class="dropdown-toggle btn btn-sm p-0 border-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="search" class="fea icon-20 login-btn-primary"></i>
                <i data-feather="search" class="fea icon-20 text-white login-btn-light"></i>
            </button>
            <div class="dropdown-menu dd-menu dropdown-menu-end bg-white rounded border-0 mt-3 p-0" style="width: 240px;">
                <div class="search-bar">
                    <div id="itemSearch" class="menu-search mb-0">
                        <form role="search" method="get" id="searchItemform" class="searchform">
                            <input type="text" class="form-control rounded border" name="s" id="searchItem" placeholder="Search...">
                            <input type="submit" id="searchItemsubmit" value="Search">
                            <i data-feather="search" class="icons"></i>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <!-- Donate Us Button - Only show when not logged in -->
    <li class="list-inline-item ps-1 mb-0" *ngIf="!(isLoggedIn$ | async)">
        <a href="" class="btn btn-sm btn-primary">Donate Us</a>
    </li>
</ul>

<div class="offcanvas offcanvas-end shadow border-0" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header p-4 border-bottom">
        <h5 id="offcanvasRightLabel" class="mb-0">
            <img [src]="'assets/images/logo-dark.png'" class="light-version" alt="">
            <img [src]="'assets/images/logo-light.png'" class="dark-version" alt="">
        </h5>
        <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="mdi mdi-close fs-4"></i></button>
    </div>
    <div class="offcanvas-body p-4">
        <div class="row">
            <div class="col-12">
                <img [src]="'assets/images/contact.png'" class="img-fluid" alt="">
                <form>
                    <div class="my-3 text-center">
                        <h6 class="text-uppercase mb-0 fw-semibold">Sign In</h6>
                    </div>
                
                    <div class="mb-3">
                        <label class="form-label fw-semibold">Your Email</label>
                        <input name="email" id="email" type="email" class="form-control" placeholder="example@website.com">
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-semibold" for="loginpass">Password</label>
                        <input type="password" class="form-control" id="loginpass" placeholder="Password">
                    </div>
                
                    <div class="d-flex justify-content-between">
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-label form-check-label text-muted" for="flexCheckDefault">Remember me</label>
                            </div>
                        </div>
                        <span class="forgot-pass text-muted small mb-0"><a [routerLink]="'/reset-password'" class="text-muted">Forgot password ?</a></span>
                    </div>
    
                    <button class="btn btn-primary w-100" type="submit">Sign in</button>

                    <div class="col-12 text-center mt-3">
                        <span><span class="text-muted me-2 small">Don't have an account ?</span> <a [routerLink]="['/signup']" class="text-dark fw-semibold small">Sign Up</a></span>
                    </div><!--end col-->
                </form>
            </div>
        </div>
    </div>

    <div class="offcanvas-footer p-4 border-top text-center">
        <ul class="list-unstyled social-icon mb-0">
            <li class="list-inline-item me-1"><a href="https://dribbble.com/shreethemes" target="_blank" class="rounded"><i data-feather="dribbble" class="fea icon-sm align-middle" title="dribbble"></i></a></li>
            <li class="list-inline-item me-1"><a href="http://linkedin.com/company/shreethemes" target="_blank" class="rounded"><i data-feather="linkedin" class="fea icon-sm align-middle" title="Linkedin"></i></a></li>
            <li class="list-inline-item me-1"><a href="https://www.facebook.com/shreethemes" target="_blank" class="rounded"><i data-feather="facebook" class="fea icon-sm align-middle" title="facebook"></i></a></li>
            <li class="list-inline-item me-1"><a href="https://www.instagram.com/shreethemes/" target="_blank" class="rounded"><i data-feather="instagram" class="fea icon-sm align-middle" title="instagram"></i></a></li>
            <li class="list-inline-item me-1"><a href="https://twitter.com/shreethemes" target="_blank" class="rounded"><i data-feather="twitter" class="fea icon-sm align-middle" title="twitter"></i></a></li>
        </ul><!--end icon-->
    </div>
</div>
