<app-admin-navbar></app-admin-navbar>

<!-- Hero Section -->
<section class="bg-half-170 d-table w-100" style="background: url('assets/images/hero/pages.jpg') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12 text-center">
        <h5 class="heading fw-semibold text-white title-dark">Management</h5>
      </div>
    </div>
    <div class="position-middle-bottom">
      <nav aria-label="breadcrumb" class="d-block">
        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
          <li class="breadcrumb-item"><a [routerLink]="'/admin'">Admin</a></li>
          <li class="breadcrumb-item active" aria-current="page">Training</li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>

<section class="section py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
        
         
          <button (click)="openajouter=true" *ngIf="!openajouter" class="btn btn-primary">
           {{openajouter ? "Close" :"Ajouter"}}
          </button>
          <div class="" *ngIf="openajouter">
            <h2>{{ isEditMode ? 'Modifier la formation' : 'Ajouter une formation' }}</h2>
  
            <form [formGroup]="trainingForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-2">
                <label for="trainingName">Training Name</label>
                <input id="trainingName" formControlName="trainingName" type="text" class="form-control" />
                <div *ngIf="trainingForm.get('trainingName')?.touched && trainingForm.get('trainingName')?.invalid" class="text-danger">
                  <small *ngIf="trainingForm.get('trainingName')?.errors?.['required']">This field is required.</small>
                  <small *ngIf="trainingForm.get('trainingName')?.errors?.['minlength']">Minimum 3 characters.</small>
                </div>
              </div>
            
              <div class="form-group mb-2">
                <label for="description">Description</label>
                <textarea id="description" formControlName="description" class="form-control"></textarea>
                <div *ngIf="trainingForm.get('description')?.touched && trainingForm.get('description')?.invalid" class="text-danger">
                  <small *ngIf="trainingForm.get('description')?.errors?.['required']">This field is required.</small>
                  <small *ngIf="trainingForm.get('description')?.errors?.['minlength']">Minimum 10 characters.</small>
                </div>
              </div>
            
              <div class="form-group mb-2">
                <label for="duration">Durée (en jours)</label>
                <input id="duration" formControlName="duration" type="number" class="form-control" />
                <div *ngIf="trainingForm.get('duration')?.touched && trainingForm.get('duration')?.invalid" class="text-danger">
                  <small *ngIf="trainingForm.get('duration')?.errors?.['required']">This field is required.</small>
                  <small *ngIf="trainingForm.get('duration')?.errors?.['min']">The duration must be at least 1 day..</small>
                </div>
              </div>
            
              <div class="form-group mb-2">
                <label for="capacity">Capacity</label>
                <input id="capacity" formControlName="capacity" type="number" class="form-control" />
                <div *ngIf="trainingForm.get('capacity')?.touched && trainingForm.get('capacity')?.invalid" class="text-danger">
                  <small *ngIf="trainingForm.get('capacity')?.errors?.['required']">This field is required.</small>
                  <small *ngIf="trainingForm.get('capacity')?.errors?.['min']">Minimum 1 participant.</small>
                </div>
              </div>
            
              <div class="form-group mb-2">
                <label for="level">Level</label>
                <select id="level" formControlName="level" class="form-control">
                  <option value="">-- Choose --</option>
                  <option value="INTERMIDIATE">INTERMIDIATE</option>
                  <option value="BEGINNER">BEGINNER</option>
                  <option value="PROFESSIONAL">PROFESSIONAL</option>
                </select>
                <div *ngIf="trainingForm.get('level')?.touched && trainingForm.get('level')?.invalid" class="text-danger">
                  <small>This field is required.</small>
                </div>
              </div>
            
              <div class="form-group mb-2">
                <label for="type">Type of Traning</label>
                <select id="type" formControlName="type" class="form-control">
                  <option value="">-- Choose --</option>
                  <option value="SKILLTRAINING">SKILLTRAINING</option>
                  <option value="COURSE">COURSE</option>
                </select>
                <div *ngIf="trainingForm.get('type')?.touched && trainingForm.get('type')?.invalid" class="text-danger">
                  <small>This field is required.</small>
                </div>
              </div>
            
              <div class="form-group mb-2">
                <label for="sessionDate">Date de la session</label>
                <input id="sessionDate" formControlName="sessionDate" type="date" class="form-control" />
                <div *ngIf="trainingForm.get('sessionDate')?.touched && trainingForm.get('sessionDate')?.invalid" class="text-danger">
                  <small>Ce champ est requis.</small>
                </div>
              </div>
            
              <button type="button" (click)="close()" class="btn btn-secondary me-2">
                Fermer
              </button>
            
              <button type="submit" [disabled]="trainingForm.invalid" class="btn btn-primary">
                {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
              </button>
            </form>
            
          </div>
          <!-- Liste des formations avec table Bootstrap -->
        <div *ngIf="!openajouter">
            <h3>Liste des formations</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nom de la formation</th>
                  <th scope="col">Description</th>
                  <th scope="col">Durée</th>
                  <th scope="col">Capacité</th>
                  <th scope="col">Niveau</th>
                  <th scope="col">Type</th>
                  <th scope="col">Date de session</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let training of trainings">
                <tr >
                  <td>{{ training.trainingName }}</td>
                  <td>{{ training.description }}</td>
                  <td>{{ training.duration }}</td>
                  <td>{{ training.capacity }}</td>
                  <td>{{ training.level }}</td>
                  <td>{{ training.type }}</td>
                  <td>{{ training.sessionDate | date:'yyyy-MM-dd' }}</td>
                  <td>
                    <button class="btn btn-warning" (click)="editTraining(training)  ">Modifier</button>
                </td>
                <td>
                    <button class="btn btn-danger " (click)="deleteTraining(training.idTraining)">Supprimer</button>
                  </td>
                  <td>
                    <button class="btn btn-info" (click)="toggleSubscribers(training.idTraining)">
                      {{ selectedTrainingId === training.idTraining ? 'Masquer abonnés' : 'Voir abonnés' }}
                    </button>
                  </td>
                  
                </tr>
                <tr *ngIf="selectedTrainingId === training.idTraining">
                    <td colspan="8">
                      <ul *ngIf="training.subscribers?.length > 0; else noSubscribers">
                        <li *ngFor="let subscriber of training.subscribers">
                          {{ subscriber.name }} ({{ subscriber.email }})  
                          <button class="btn btn-success btn-sm"
                          (click)="downloadCertificate(training.idTraining!, subscriber.idUser!)">
                            <i class="mdi mdi-download"></i> 
                    Télécharger certificat
                  </button>
                                          </li>
 

                       
                      </ul>
                      <ng-template #noSubscribers>
                        <p>Aucun abonné pour cette formation.</p>
                      </ng-template>
                    </td>
                  </tr>
              </tbody>
            </table>
        </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->


<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>