<app-navbar></app-navbar>

<!-- Hero Section -->
<section class="bg-half-170 d-table w-100" style="background: url('assets/images/hero/pages.jpg') center;">
  <div class="bg-overlay bg-gradient-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12 text-center">
        <h5 class="heading fw-semibold text-white title-dark">Ajouter un Animal</h5>
      </div>
    </div>
    <div class="position-middle-bottom">
      <nav aria-label="breadcrumb" class="d-block">
        <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
          <li class="breadcrumb-item"><a [routerLink]="'/animals'">Animals</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ajouter un Animal</li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>

<!-- Add Form Section -->
<section class="section py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-12">
        <div class="add-form-card">
        <form [formGroup]="animalForm">
          <div class="form-group">
            <input type="text" placeholder="Nom" formControlName="name" class="form-control form-input mb-1">
            <div *ngIf="animalForm.get('name')?.invalid && animalForm.get('name')?.touched" class="text-danger">
              Le nom est requis.
            </div>
            
            <input type="text" placeholder="Espèce" formControlName="animalSpecies" class="form-control form-input mb-1">
            <div *ngIf="animalForm.get('animalSpecies')?.invalid && animalForm.get('animalSpecies')?.touched" class="text-danger">
              L'espèce est requise.
            </div>
            
            <input type="text" placeholder="Race" formControlName="race" class="form-control form-input mb-1">
            <div *ngIf="animalForm.get('race')?.invalid && animalForm.get('race')?.touched" class="text-danger">
              La race est requise.
            </div>
            
            <input type="text" placeholder="Historique Médical" formControlName="medicalHistory" class="form-control form-input mb-1">
            <div *ngIf="animalForm.get('medicalHistory')?.invalid && animalForm.get('medicalHistory')?.touched" class="text-danger">
              L'historique médical est requis.
            </div>
             
            <input type="file" (change)="onFileSelected($event)" class="form-control form-input mb-1" />

            <button class="btn btn-primary add-btn" [disabled]="animalForm.invalid" (click)="addAnimal()">Ajouter un Animal</button>
            <p *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</p>
            <p *ngIf="successMessage" class="text-success mt-3">{{ successMessage }}</p>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>