<app-navbar></app-navbar>

<!-- Hero Start -->
<section class="bg-half-170 d-table w-100" style="background: url('assets/images/hero/pages.jpg') center;">
    <div class="bg-overlay bg-gradient-overlay"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-12">
                <div class="title-heading text-center">
                    <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Nos Événements</h5>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="position-middle-bottom">
            <nav aria-label="breadcrumb" class="d-block">
                <ul class="breadcrumb breadcrumb-muted mb-0 p-0">
                    <li class="breadcrumb-item"><a [routerLink]="'/'">Smilecare</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Événements</li>
                </ul>
            </nav>
        </div>
    </div><!--end container-->
</section><!--end section-->
<div class="position-relative">
    <div class="shape overflow-hidden text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- Hero End -->

<!-- Start -->
<section class="section">
    <div class="container">
      <div class="row">
        <!-- Colonne principale pour afficher le calendrier FullCalendar -->
        <div class="col-12">
          <div class="row g-4">
            <div class="col-12">
              <div class="calendar-container shadow rounded p-4">
                <!-- Affichage du calendrier -->
                <full-calendar [events]="calendarEvents" [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
        </div><!--end col-->
      </div><!--end row-->
  
      <!-- Détails de l'événement sélectionné -->
      <div *ngIf="selectedEvent" class="event-details mt-4 p-4 border shadow rounded">
        <h3>{{ selectedEvent.title }}</h3>
        <p><strong>Date:</strong> {{ selectedEvent.dateTime | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Description:</strong> {{ selectedEvent.description }}</p>
        <p><strong>Lieu:</strong> {{ selectedEvent.location }}</p>
        <p><strong>Type d'événement:</strong> {{ selectedEvent.typeEvent }}</p>
      </div>
  
    </div><!--end container-->
  </section><!--end section-->
  

<!-- End -->

<app-footer></app-footer>
<app-scroll-to-top></app-scroll-to-top>