<div class="row">
    <div class="col-lg-3 col-md-6 col-12">
        <div class="pricing bg-light rounded position-relative overflow-hidden shadow">
            <div class="forum-header rounded-top p-4 pb-0">
                <div class="position-relative features text-center mx-lg-4 px-md-1 my-4">
                    <div class="position-relative d-flex">
                        <i data-feather="log-in" class="fea icon-ex-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>
                </div>
                
                <h4 class="mb-0">Free</h4>
            </div>
            <div class="d-flex p-4">
                <span class="h5 mb-0">$</span>
                <span class="forum h2 mb-0 ms-1">0.00</span>
                <span class="h5 align-self-end mb-1">/mo</span>
            </div>
            <div class="forums-features text-start">
                <ul class="feature list-unstyled p-4 pt-0 mb-0">
                    <li class="feature-list text-muted"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Full Access</li>
                </ul>
                <div class="p-4 pt-0">
                    <a routerLink="#" (click)="$event.preventDefault()" class="btn btn-soft-primary w-100">Free Signup</a>                                        
                </div>
            </div>    
        </div>
    </div><!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 mt-md-0 pt-2 pt-md-0">
        <div class="pricing bg-white rounded position-relative overflow-hidden shadow">
            <div class="forum-header rounded-top p-4 pb-0">
                <div class="position-relative features text-center mx-lg-4 px-md-1 my-4">
                    <div class="position-relative d-flex">
                        <i data-feather="airplay" class="fea icon-ex-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>
                </div>

                <h4 class="mb-0">Standerd</h4>
            </div>
            <div class="d-flex p-4">
                <span class="h5 mb-0">$</span>
                <span class="forum h2 mb-0 ms-1">19.99</span>
                <span class="h5 align-self-end mb-1">/mo</span>
            </div>
            <div class="forums-features text-start">
                <ul class="feature list-unstyled p-4 pt-0 mb-0">
                    <li class="feature-list text-muted"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Full Access</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Enhanced Security</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Free Appointments</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Free Installment</li>
                </ul>
                <div class="p-4 pt-0">
                    <a routerLink="#" (click)="$event.preventDefault()" class="btn btn-soft-primary w-100">Buy Now</a>                                        
                </div>
            </div>    
        </div>
    </div><!--end col-->
    
    <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
        <div class="pricing bg-primary bg-gradient text-white rounded position-relative overflow-hidden shadow">
            <div class="forum-header rounded-top p-4 pb-0">
                <div class="position-relative features text-center mx-lg-4 px-md-1 my-4">
                    <div class="position-relative d-flex">
                        <i data-feather="award" class="fea icon-ex-md text-primary z-1"></i>
                        <div class="feature-icon bg-white position-absolute top-0 translate-middle"></div>
                    </div>
                </div>

                <h4 class="mb-0">Professional</h4>
            </div>
            <div class="d-flex p-4">
                <span class="h5 mb-0">$</span>
                <span class="forum h2 mb-0 ms-1">99.99</span>
                <span class="h5 align-self-end mb-1">/mo</span>
            </div>
            <div class="forums-features text-start">

                <ul class="feature list-unstyled p-4 pt-0 mb-0">
                    <li class="feature-list text-white-50"><i data-feather="arrow-right-circle" class="fea icon-sm text-white me-2"></i>Full Access</li>
                    <li class="feature-list text-white-50 mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-white me-2"></i>Enhanced Security</li>
                    <li class="feature-list text-white-50 mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-white me-2"></i>Source Files</li>
                    <li class="feature-list text-white-50 mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-white me-2"></i>1 Domain Free</li>
                    <li class="feature-list text-white-50 mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-white me-2"></i>Free Appointments</li>
                    <li class="feature-list text-white-50 mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-white me-2"></i>Free Installment</li>
                </ul>
                <div class="p-4 pt-0">
                    <a routerLink="#" (click)="$event.preventDefault()" class="btn btn-info w-100">Subscribe Now</a>                                        
                </div>
            </div>    
        </div>
    </div><!--end col-->
    
    <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
        <div class="pricing bg-white rounded position-relative overflow-hidden shadow">
            <div class="forum-header rounded-top p-4 pb-0">
                <div class="position-relative features text-center mx-lg-4 px-md-1 my-4">
                    <div class="position-relative d-flex">

                        <i data-feather="star" class="fea icon-ex-md text-primary z-1"></i>
                        <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
                    </div>
                </div>

                <h4 class="mb-0">Plus</h4>
            </div>
            <div class="d-flex p-4">
                <span class="h5 mb-0">$</span>
                <span class="forum h2 mb-0 ms-1">199.99</span>
                <span class="h5 align-self-end mb-1">/mo</span>
            </div>
            <div class="forums-features text-start">
                <ul class="feature list-unstyled p-4 pt-0 mb-0">
                    <li class="feature-list text-muted"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Full Access</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Enhanced Security</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Source Files</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>10 Domain Free</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Free Appointments</li>
                    <li class="feature-list text-muted mt-2"><i data-feather="arrow-right-circle" class="fea icon-sm text-dark me-2"></i>Free Installment</li>
                </ul>
                <div class="p-4 pt-0">
                    <a routerLink="#" (click)="$event.preventDefault()" class="btn btn-soft-primary w-100">Subscribe Now</a>                                        
                </div>
            </div>    
        </div>
    </div><!--end col-->
</div><!--end row-->
