<div class="row">
    <div class="col-12 mt-4">
        <div class="tiny-three-item">
            <div *ngFor="let item of clientData" class="tiny-slide">
                <div class="position-relative overflow-hidden z-1 bg-white rounded shadow p-4 m-2">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="mb-0">{{item.tag}}</h6>

                        <ul class="list-unstyled mb-0 text-warning">
                            <li *ngFor="let el of item.rate" class="list-inline-item"><i [ngClass]="el"></i></li>
                        </ul>
                    </div>

                    <p class="text-muted fst-italic mt-2">" {{item.desc}} "</p>

                    <div class="d-flex align-items-center">
                        <img [src]="item.image" class="avatar avatar-small rounded-pill shadow object-fit-cover" alt="">
                        <div class="ms-2">
                            <h6 class="text-dark small mb-0">{{item.name}}</h6>
                            <small class="text-muted d-block">{{item.position}}</small>
                        </div>
                    </div>

                    <i class="mdi mdi-format-quote-open text-primary position-absolute top-50 start-50 translate-middle z-n1 testi-icon"></i>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->