<div class="card mt-4">
  <div class="card-header d-flex border-bottom border-dashed">
    <h4 class="card-title">Photo And Video</h4>
    <div class="ms-auto">
      <a href="javascript: void(0);" class="text-muted fw-semibold">See all</a>
    </div>
  </div>
  <div class="card-body">
    <div class="row g-0">
      <div class="col-lg-4">
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-1.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-2.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-3.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-4.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-5.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-6.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-4">
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-7.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-8.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-9.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-10.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-4.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
        <a href="javascript: void(0);" class="d-block m-1">
          <img
            src="assets/images/small/img-5.jpg"
            alt=""
            class="img-fluid rounded"
          />
        </a>
      </div>
    </div>
  </div>
</div>
