<div class="row">
    <div *ngFor="let item of causesData" class="col-lg-4 col-md-6 mt-4 pt-2">
        <div class="position-relative rounded bg-white shadow overflow-hidden">
            <div class="position-relative overflow-hidden">
                <img [src]="item.image" class="img-fluid" alt="">
                <div class="bg-overlay bg-linear-gradient-2"></div>
                <div class="position-absolute bottom-0 p-4">
                    <a [routerLink]="" (click)="$event.preventDefault()" class="text-white title-dark fw-semibold link-title">Donate Now <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>

            <div class="content p-4">
                <h5><a [routerLink]="" (click)="$event.preventDefault()" class="text-dark link-title">{{item.title}}</a></h5>
                <p class="text-muted mb-0">{{item.desc}}</p>
                <div class="progress-box mt-5">
                    <div class="progress rounded" style="height: 8px;">
                        <div class="progress-bar position-relative bg-primary rounded" style="width:60%;">
                            <div class="progress-value d-block text-dark h6 mb-0">{{item.fund}}</div>
                        </div>
                    </div>
                </div><!--end process box-->

                <div class="d-flex align-items-center justify-content-between mt-3">
                    <h6 class="text-muted mb-0">{{item.value1}}</h6>
                    <h6 class="text-muted mb-0">{{item.value2}}</h6>
                </div>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

