<div class="row">
  <div *ngFor="let donation of donationsData" class="col-lg-4 col-md-6 mt-4 pt-2">
    <div class="position-relative rounded bg-white shadow-lg overflow-hidden">
      <!-- Image or background section -->
      
      <div class="position-absolute bottom-0 p-4">
        <!-- Donate button -->
        <button 
        [routerLink]="['/make-donation', donation.idDonation]" 
        class="text-white fw-semibold link-title btn btn-sm btn-primary">
          Donate Now <i class="mdi mdi-arrow-right"></i>
      </button>
      </div>

      <div class="content p-4">
        <!-- Title of Donation -->
        <h5>
          <a [routerLink]="['/donation', donation.idDonation]" 
             class="text-dark link-title text-truncate" 
             title="{{ donation.titre }}">
            {{ donation.titre }}
          </a>
        </h5>

        <!-- Description of Donation -->
        <p class="text-muted mb-0 text-truncate" title="{{ donation.description }}">{{ donation.description }}</p>

        <!-- Display Requested and Donated Quantities -->
        <div class="mt-3">
          <h6><strong>Requested Quantity:</strong> <span class="text-success">{{ donation.quantiteDemandee }}</span></h6>
          <h6><strong>Donated Quantity:</strong> <span class="text-primary">{{ donation.quantiteDonnee }}</span></h6>
        </div>

        <!-- Donation Type -->
        <div class="progress-box mt-5">
          <div class="progress rounded" style="height: 8px;">
            <div class="progress-bar position-relative bg-primary rounded" 
                 [style.width]="(donation.quantiteDonnee / donation.quantiteDemandee) * 100 + '%'">
              <div class="progress-value d-block text-dark h6 mb-0">{{ (donation.quantiteDonnee / donation.quantiteDemandee) * 100 | number:'1.0-0' }}%</div>
            </div>
          </div>
        </div>

        <!-- Amount Raised and Goal Amount -->
        <div class="d-flex align-items-center justify-content-between mt-3">
          <h6 class="text-muted mb-0">{{ donation.quantiteDonnee }} / {{ donation.quantiteDemandee }}</h6>
          <h6 class="text-muted mb-0">{{ donation.donationType }}</h6>
        </div>
      </div>
    </div><!-- end col -->
  </div><!-- end row -->
</div>