<div class="card">
  <div class="card-header">
    <h4 class="card-title">Fresh Articles, News & Updates</h4>
  </div>
  <div class="card-body">
    <img
      src="assets/images/properties/p-16.jpg"
      alt=""
      class="rounded-3 img-fluid"
    />
    <div class="mt-3">
      <span class="">
        <a href="javascript: void(0);" class="text-dark fs-18 fw-medium"
          >The Pros and Cons of Urban vs. Suburban Living: Finding the Right Fit
          for Your Lifestyle</a
        >
        <span class="badge px-2 py-1 bg-primary-subtle text-primary ms-1"
          >Homes</span
        >
        <span class="badge px-2 py-1 bg-danger-subtle text-danger ms-1"
          >Blog</span
        >
      </span>
      <p class="mt-2 text-muted">
        Deciding where to live is a major life choice that can significantly
        impact your lifestyle, finances, and overall happiness. One of the most
        common dilemmas people face is choosing between urban and suburban
        living. Both options offer unique benefits and challenges, and the right
        choice often depends on your personal preferences...
        <a href="javascript: void(0);" class="link-primary fw-medium"
          >Read More</a
        >
      </p>
      <div class="d-flex align-items-center gap-1">
        <div class="position-relative">
          <img
            src="assets/images/users/avatar-2.jpg"
            alt=""
            class="avatar rounded-circle flex-shrink-0"
          />
        </div>
        <div class="d-block ms-2 flex-grow-1">
          <span class="text-dark">
            <a href="javascript: void(0);" class="text-dark fw-medium"
              >David D. McGlynn</a
            >
          </span>
          <p class="text-muted mb-0">
            <i class="ti ti-calendar-due"></i> April 18, {{ currentYear }}
          </p>
        </div>
        <div class="ms-auto">
          <span class="">
            <button
              type="button"
              class="btn btn-soft-danger avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded-circle"
            >
              <iconify-icon icon="solar:heart-broken"></iconify-icon>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
