<div class="row">
    <div *ngFor="let item of servicesData" class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
        <div class="position-relative features text-center shadow rounded p-4 pt-5">
            <div class="position-relative d-flex justify-content-center">
                <i [attr.data-feather]="item.icon" class="fea icon-md text-primary z-1"></i>
                <div class="feature-icon bg-soft-primary position-absolute top-0 translate-middle"></div>
            </div>

            <div class="mt-4">
                <a [routerLink]="'/service-detail'" class="h5 text-dark link-title">{{item.title}}</a>
                <p class="text-muted mt-3">{{item.desc}}</p>
                <a [routerLink]="'/service-detail'" class="text-primary">Learn More <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div>
</div>
