<div class="card bg-white p-4 rounded shadow sticky-bar">
    <!-- SEARCH -->
    <div>
        <h6 class="pt-2 pb-2 bg-light rounded text-center">Search</h6>

        <div class="search-bar mt-4">
            <div id="itemSearch" class="menu-search mb-0">
                <form role="search" method="get" id="searchItemform" class="searchform">
                    <input type="text" class="form-control rounded border" name="s" id="searchItem" placeholder="Search...">
                    <input type="submit" id="searchItemsubmit" value="Search">
                    <i data-feather="search" class="icons"></i>
                </form>
            </div>
        </div>
    </div>
    <!-- SEARCH -->

    <!-- RECENT POST -->
    <div class="mt-4 pt-2">
        <h6 class="pt-2 pb-2 bg-light rounded text-center">Recent Post</h6>
        <div class="mt-4">
            <div *ngFor="let item of recentPost" class="blog blog-primary d-flex align-items-center mt-3">
                <img [src]="item.image" class="avatar avatar-small rounded" style="width: auto;" alt="">
                <div class="flex-1 ms-3">
                    <a routerLink="#" (click)="$event.preventDefault()" class="d-block title text-dark fw-medium">{{item.title}}</a>
                    <span class="text-muted small">{{item.date}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- RECENT POST -->

    <!-- TAG CLOUDS -->
    <div class="mt-4 pt-2 text-center">
        <h6 class="pt-2 pb-2 bg-light rounded">Tags Cloud</h6>
        <ul class="tagcloud list-unstyled mt-4">
            <li *ngFor="let item of tagCloud" class="d-inline-flex m-1"><a routerLink="#" (click)="$event.preventDefault()" class="rounded fw-medium text-dark py-1 px-2">{{item}}</a></li>
        </ul>
    </div>
    <!-- TAG CLOUDS -->
</div>
