<div class="row g-4 align-items-center">
    <div class="col-lg-6 col-md-6 order-1 order-md-2">
        <div class="position-relative">
            <img [src]="'assets/images/2.png'" class="img-fluid rounded-2" alt="">

            <div class="modern-app-round round-small"></div>
        </div>
    </div><!--end col-->

    <div class="col-lg-6 col-md-6 order-md-1 order-2">
        <div class="section-title me-lg-5">
            <h4 class="title mb-3">Optimize page layouts <br> and refine your content</h4>
            <p class="text-muted para-desc mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
        
            <ul class="list-unstyled text-muted mb-0 mt-3">
                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Digital Marketing Solutions for Tomorrow</li>
                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Our Talented & Experienced Marketing Agency</li>
                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Create your own skin to match your brand</li>
            </ul>

            <div class="mt-4">
                <a [routerLink]="'/aboutus'" class="btn btn-soft-primary">About Us <i class="mdi mdi-arrow-right align-middle"></i></a>
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->
